page-register {
    .customFont{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16pt        
    }

    .customButton{
        background-color: green;
        margin-left: 50%;
    }
}

