<!--
  Generated template for the DogsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>dogs</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <div>
       All
        </div>
        <ion-list>
          <ion-item *ngFor="let dog of allDogs">
            <h2>{{dog}}</h2>
          </ion-item>
        </ion-list>
        <div>
          Group 1
          </div>
          <ion-list>
            <ion-item *ngFor="let dog1 of allDogs1">
              <h2>{{dog1}}</h2>
            </ion-item>
          </ion-list>
          <div>
            Group 2
            </div>
            <ion-list>
              <ion-item *ngFor="let dog2 of allDogs2">
                <h2>{{dog2}}</h2>
              </ion-item>
            </ion-list>
            <div>
              Group 3
              </div>
              <ion-list>
                <ion-item *ngFor="let dog3 of allDogs3">
                  <h2>{{dog3}}</h2>
                </ion-item>
              </ion-list>
              <div>
                Group 4
                </div>
                <ion-list>
                  <ion-item *ngFor="let dog4 of allDogs4">
                    <h2>{{dog4}}</h2>
                  </ion-item>
                </ion-list>
                <div>
                  Group 5
                  </div>
                  <ion-list>
                    <ion-item *ngFor="let dog5 of allDogs5">
                      <h2>{{dog5}}</h2>
                    </ion-item>
                  </ion-list>
                  <div>
                    Group 6
                    </div>
                    <ion-list>
                      <ion-item *ngFor="let dog6 of allDogs6">
                        <h2>{{dog6}}</h2>
                      </ion-item>
                    </ion-list>
                    <div>
                      Group 7
                      </div>
                      <ion-list>
                        <ion-item *ngFor="let dog7 of allDogs7">
                          <h2>{{dog7}}</h2>
                        </ion-item>
                      </ion-list>
                      <div>
                        Group 8
                        </div>
                        <ion-list>
                          <ion-item *ngFor="let dog8 of allDogs8">
                            <h2>{{dog8}}</h2>
                          </ion-item>
                        </ion-list>
                        <div>
                          Group 9
                          </div>
                          <ion-list>
                            <ion-item *ngFor="let dog9 of allDogs9">
                              <h2>{{dog9}}</h2>
                            </ion-item>
                          </ion-list>
                          <div>
                            Group 10
                            </div>
                            <ion-list>
                              <ion-item *ngFor="let dog10 of allDogs10">
                                <h2>{{dog10}}</h2>
                              </ion-item>
                            </ion-list>
                            <div>
                              Group 11
                              </div>
                              <ion-list>
                                <ion-item *ngFor="let dog11 of allDogs11">
                                  <h2>{{dog11}}</h2>
                                </ion-item>
                              </ion-list>
                              <div>
                                Group 12
                                </div>
                                <ion-list>
                                  <ion-item *ngFor="let dog12 of allDogs12">
                                    <h2>{{dog12}}</h2>
                                  </ion-item>
                                </ion-list>
      
</ion-content>
